<!DOCTYPE html>
<!--profile.ejs
    Copyright © 2024 NextStep IT Training. All rights reerved.

-->

<html>
<head>
    <%- include('../components/head'); %>
</head>
<body>
        <%- include('../components/header'); %>

        <div class="main">
            <nav>
                <%- include('../components/navigation'); %>
            </nav>

            <div class="content">
                <h1>Your Profile</h1>

                <h2>ID Token</h2>
<pre>
<%= idToken %>
</pre>

                <h2>JSON Claims</h2>
<pre>
<%= rawClaims %>
</pre>
            </div>
        </div>    

        <%- include('../components/footer'); %>
</body>
</html>